div#header
    div.container
        img(class='app-logo' src=testRun.appLogoUrl)
each pkg,index in testRun.packages
    - var message='';
    - if (pkg.environment){ message = message+ "Env: " + pkg.environment;}
    - if (pkg.country){ message = message+ ", Country: " + pkg.country }
    - if(pkg.summary){ message = message + " , Summary: " + pkg.summary;}
    - if(pkg.browser){message = message+ ", Browser: " + pkg.browser;}
    div#content
        div.container
            div.title
                span= "Report Generated: " + pkg.date
                h2="Test Results - " + pkg.name
            div.result
                h5= pkg.tests + " Tests - "
                    span= "Passed: " + (pkg.tests - pkg.failures) + ", Failed: " + pkg.failures
                if message
                    p= message

            div.main-content
                div.panel.test-scenarios
                    div.panel-title
                        if index === 0
                            div.links
                                a#linkExpand Expand
                                a#linkCollapse Collapse
                        if pkg.failures > 0
                            div.filters
                                span
                                    input(type='checkbox' name='filters' id='showFailures')
                                    label(for='showFailures') Show Failures
                        h4 Test Result Summary
                            - var count = 0;
                    div.panel-content
                        table(cellpadding='0' cellspacing='0' border='0')
                            tr
                                th
                                    span
                                th
                                    span Test
                                th
                                    span Passed
                                th
                                    span Failed
                                th
                                    span Errors
                                th
                                    span Skipped
                                th
                                    span Duration
                            each suite, i in pkg.suites
                                tr(id='test-' + suite.pkgName + i, class= (suite.isFailure) ? 'failed' : 'passed')
                                    td
                                        span
                                            i(class= (suite.isFailure) ? 'icon-error' : 'icon-success')
                                    td
                                        span
                                            a.taskname(class={'has-child': suite.cases.length > 0})
                                            a.taskname= suite.name
                                    td
                                        span= suite.passed
                                    td
                                        span= suite.failures
                                    td
                                        span= suite.errors
                                    td
                                        span= suite.skipped
                                    td
                                        span= suite.time + "s"
                                tr.subtask.hide(id='scenario-test-' + suite.pkgName + i)
                                    td(colspan='7')
                                        table(cellpadding='0' cellspacing='0' border='0')
                                            each testCase in suite.cases
                                                if suite.isFailure && testCase.isFailure
                                                    tr(class= (testCase.isFailure) ? 'testcase-failed' : 'testcase-passed')
                                                        td
                                                            span
                                                                i(class= (testCase.isFailure) ? 'icon-error' : 'icon-success')
                                                        td
                                                            span.error=testCase.isFailure
                                                        td
                                                            each sshot in testCase.screenshots
                                                                span
                                                                    a
                                                                        img.thumbnail(src= sshot)
                                                                div.modal.hide
                                                                    div.modal-dialog
                                                                        div.modal-content
                                                                            div.modal-header
                                                                                a.close &times;
                                                                            div.modal-body
                                                                                img(src= sshot)
                                                else
                                                    tr(class= (testCase.isFailure) ? 'testcase-failed' : 'testcase-passed')
                                                        td
                                                            span
                                                                i(class= (testCase.isFailure) ? 'icon-error' : 'icon-success')
                                                        td
                                                            span= testCase.message  || 'Test'
                                                        td
                                                            each sshot in testCase.screenshots
                                                                span
                                                                    a
                                                                        img.thumbnail(src= sshot)
                                                                div.modal.hide
                                                                    div.modal-dialog
                                                                        div.modal-content
                                                                            div.modal-header
                                                                                a.close &times;
                                                                            div.modal-body
                                                                                img(src= sshot)
